:root{
    --dark: #17181E;
    --blue: #849BEB;
    --lightBlue: #C4D5FC;
    --green: #25D952;
    --light: #F0F0F1;
    --gray: #6B6B7C;
    --dimmedLight: #BBBBBB;
    --pink: #DDC2D4;
    --content: #1E1F27;
    --hover-color: rgba(255, 141, 141, 0.15);
    --green-hover: rgba(37, 217, 82, 0.49);
}

body{
    margin: 0%;
    padding: 0%;
    background-color: var(--dark);
    font-family: Inter;
    color: var(--light);
}

#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 1000px;
}

#container .header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
}

#container .header img{
    width: 200px;
}

#container .header h1{
    font-size: 36px;
    font-weight: 600;
    margin: 10px 0px;
}

#container .main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--content);
    border-radius: 12px;
    padding: 36px 48px;
}

#container .top .search p{
    font-size: 18px;
    margin: 8px 0px;
}

#container .user-input input{
    width: 200px;
    height: 30px;
    border: none;
    border-radius: 5px;
    border: 1px solid var(--gray);
    background-color: var(--dark);
    color: var(--light);
    padding: 0px 12px;
    margin: 8px 0px;
    text-align: center;
}

#container .user-input button{
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: var(--green);
    color: var(--light);
    font-weight: 600;
    margin: 8px 0px;
    cursor: pointer;
}

#container .pokemon-img{
    height: 300px;
}

.bottom {
    background-color: var(--dark);
    padding: 20px;
    border-radius: 8px;
    width: 100%;
}

.table {
    width: 100%;
    overflow-x: auto;
}

.table table {
    width: 100%;
    border-collapse: collapse;
}

.table th, .table td {
    padding: 10px;
    text-align: left;
}

.table th {
    background-color: var(--blue);
    color: var(--light);
    font-weight: bold;
}

.table td {
    background-color: var(--content);
    color: var(--light);
}

.table tr:nth-child(even) td {
    background-color: var(--gray);
}

.table td#hp, 
.table td#attack, 
.table td#defense, 
.table td#special-attack, 
.table td#special-defense, 
.table td#speed {
    border-radius: 4px;
    padding: 8px;
    text-align: center;
}
